<header>
  <nav class="bg-secondary navbar fixed-top navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "votalog.png", class: "logo-icon", alt: "ロゴアイコン" %>
      <% end %>
      <button class="navbar-toggler" type="button"
              data-toggle="collapse"
              data-target="#navbarTogglerDemo"
              aria-controls="navbarTogglerDemo"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo">
        <% if user_signed_in? %>
          <div class="navbar-nav ml-auto mt-2 mt-lg-0">
            <div class="nav-item dropdown mr-4 mb-2 mb-lg-0">
              <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.name %>
                <i class="fas fa-angle-down small ml-1"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "アカウント", users_account_path, class: "dropdown-item" %>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </div>
          </div>
        <% else %>
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item mr-4 mb-2 mb-lg-0">
              <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item mr-4 mb-2 mb-lg-0">
              <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item mr-4 mb-2 mb-lg-0">
              <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "nav-link" %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>
</header>
