<% content_for :html_title, "新規株登録" %>

<section class="u-content-space">
  <div class="container">
    <header  class="w-md-50 mx-auto text-center mb-6">
      <h2>新規株登録</h2>
    </header>
    <%= form_with model: @plant do |f| %>
      <div class="form-group mb-4">
        <%= f.label :name, class: "u-font-size-90 required-column" %>
        <%= f.text_field :name, autofocus: true, placeholder: "H.obutusa x H.venusta", class: "form-control" %>
        <%= render "shared/error_messages/invalid_name", resource: f.object %>
      </div>
      <div class="form-group mb-6">
        <%= f.label :image, class: "u-font-size-90" %>
        <%= f.file_field :image, class: "form-control" %>
        <%= render "shared/error_messages/invalid_image", resource: f.object %>
      </div>
      <div class="text-center mb-3">
        <%= f.submit "マイ多肉棚に追加", class: "btn btn-secondary btn-lg" %>
      </div>
      <div class="text-center mb-2">
        <%= link_to "キャンセル", root_path, class: "btn btn-outline-secondary btn-lg" %>
      </div>
    <% end %>
  </div>
</section>

<% if @plant.errors.any? %>
  <%= javascript_pack_tag "new" %>
<% end %>
