<% content_for :html_title, @plant.name %>

<section class="u-content-space">
  <div class="container">
    <header class="w-md50 mx-automb-6 mb-4 d-flex justify-content-between align-items-center">
      <h2 class="mb-0">お世話ログ for <%= @plant.name %></h2>
      <div>
        <% if @plant.image.attached? %>
          <%= image_tag @plant.image.variant(resize: "72", gravity: "center", crop: "72x72+0+0").processed, class: "u-box-shadow-lg img-fluid rounded-circle", alt: "株イメージ画像" %>
        <% end %>
      </div>
    </header>
    <div class="mb-6">
      <%= month_calendar events: @plant.logs do |date, logs| %>
        <%= date.day %>
        <% logs.each do |log| %>
          <div>
            <% if log.is_watered %>
              <%= link_to log_path(log) do %>
                <%= image_tag "water_icon.png", class: "calendar-icons p-1", alt: "水やりアイコン" %>
              <% end %>
            <% end %>
            <% if log.is_fertilized %>
              <%= link_to log_path(log) do %>
                <%= image_tag "fertilizer_icon.png", class: "calendar-icons p-1", alt: "肥料/栄養剤アイコン" %>
              <% end %>
            <% end %>
            <% if log.is_replanted %>
              <%= link_to log_path(log) do %>
                <%= image_tag "pot_icon.png", class: "calendar-icons p-1", alt: "植替えアイコン" %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <p class="mb-2">
        <%= image_tag "water_icon.png", class: "calendar-icons p-1", alt: "水やりアイコン" %>アイコンは水やり、
        <%= image_tag "fertilizer_icon.png", class: "calendar-icons p-1", alt: "肥料/栄養剤アイコン" %>アイコンは肥料/栄養剤、
        <%= image_tag "pot_icon.png", class: "calendar-icons p-1", alt: "植替えアイコン" %>アイコンは植替えを表します
      </p>
      <p class="pl-2">カレンダー上の各アイコンをクリックすると該当するログにジャンプして詳細を確認できます</p>
    </div>
    <h4 class="w-md-50 mx-auto mb-2 text-center">
      次回お世話予定 | <%= @plant.name %>
    </h4>
    <div class="row mb-6">
      <div class="col-md-4 text-center bg-light p-3 next-water-schedule">
        <p>次回水やり予定日</p>
        <hr class="mb-6">
        <div class="js-next-water-day">
          <%= render "plants/next_water_day", plant: @plant %>
        </div>
      </div>
      <div class="col-md-4 text-center bg-light p-3 next-fertilizer-schedule">
        <p>次回肥料/栄養剤散布予定日</p>
        <hr class="mb-6">
        <div class="js-next-fertilizer-day">
          <%= render "plants/next_fertilizer_day", plant: @plant %>
        </div>
        <div class="mt-4">
          <%= link_to "#nextDayModal", class: "btn btn-outline-info", data: { toggle: "modal" } do %>
            お世話予定を追加/変更<i class="fas fa-plus-circle ml-2"></i>
          <% end %>
        </div>
      </div>
      <div class="col-md-4 text-center bg-light p-3 next-replant-schedule">
        <p>次回植替え予定日</p>
        <hr class="mb-6">
        <div class="js-next-replant-day">
          <%= render "plants/next_replant_day", plant: @plant %>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-around p-4">
      <div class="text-center">
        <%= link_to "株情報の編集", edit_plant_path(@plant), class: "btn btn-outline-secondary" %>
      </div>
      <div class="text-center">
        <%= link_to "この株を削除", plant_path(@plant), method: :delete, data: { confirm: "#{@plant.name}を削除してよろしいですか？この操作は取り消せません" }, class: "btn btn-outline-danger" %>
      </div>
    </div>
    <div class="text-center">
      <%= link_to "新規ログを追加", new_log_path, class: "btn btn-secondary" %>
    </div>
  </div>
</section>

<%= render  "shared/my_shelf", resources: @user.plants %>

<div class="modal fade" id="nextDayModal" tabindex="-1" role="dialog" area-labelledby="nextDayTitle" style="display: none;" area-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="nextDayTitle">次回お世話予定の追加/変更</h5>
        <button type="button" class="close" data-dismiss="modal" area-label="Close">
          <span area-hidden="true">x</span>
        </button>
      </div>
      <%= form_with model: @plant, local: false, class: "js-form" do |f| %>
        <div class="modal-body">
          <div class="form-group mb-4">
            <%= f.label :next_water_day, class: "u-font-size-90" %>
            <%= f.date_field :next_water_day, autofocus: true, min: Time.zone.today, class: "form-control" %>
          </div>
          <div class="form-group mb-4">
            <%= f.label :next_fertilizer_day, class: "u-font-size-90" %>
            <%= f.date_field :next_fertilizer_day, min: Time.zone.today, class: "form-control" %>
          </div>
          <div class="form-group mb-4">
            <%= f.label :next_replant_day, class: "u-font-size-90" %>
            <%= f.date_field :next_replant_day, min: Time.zone.today, class: "form-control" %>
          </div>
          <div class="js-error-message"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">キャンセル</button>
          <%= f.submit "決定", class: "btn btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
