<% content_for :html_title, "ログ編集" %>

<section class="u-content-space">
  <div class="container">
    <header class="w-md50 mx-auto text-center mb-6">
      <h2>ログ編集</h2>
    </header>
    <%= form_with model: @log do |f| %>
      <%= render "shared/log_form", f: f %>
      <div class="form-group mb-4">
        <%= f.label :temperature, class: "u-font-size-90" %>
        <%= f.text_field :temperature, placeholder: "12.3", class: "form-control" %>
        <%= render "shared/error_messages/invalid_temperature", resource: f.object %>
      </div>
      <div class="form-group mb-6">
        <%= f.label :humidity, class: "u-font-size-90" %>
        <%= f.text_field :humidity, placeholder: "65.4", class: "form-control" %>
        <%= render "shared/error_messages/invalid_humidity", resource: f.object %>
      </div>
      <div class="text-center mb-3">
        <%= f.submit "ログを更新", class: "btn btn-secondary btn-lg" %>
      </div>
      <div class="text-center mb-2">
        <%= link_to "キャンセル", log_path(@log), class: "btn btn-outline-secondary btn-lg" %>
      </div>
    <% end %>
  </div>
</section>

<% if @log.errors.any? %>
  <%= javascript_pack_tag "edit" %>
<% end %>
