<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Votalog</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render "shared/header" %>
    <%= yield %>
    <% flash.each do |type, message| %>
      <%= content_tag :div, message,
      class: "alert text-white bg-#{type == 'notice' ? 'success' : 'warning'}" %>
    <% end %>
    <%= render "shared/footer" %>
  </body>
</html>
